:root{
    --azul-marino: #0071e1;
    --azul-secundario: #474E68;
    --blanco-principal: #FFFFFF;
    --gris-fuerte: #66667c;
    --gris-secundario: #eeeeee;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}